# Terraform files
.terraform/
.terraform.lock.hcl


# Plan files
tfplan
tfdestroy

# Crash logs
crash.log

# Sensitive files
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config
.terraformrc
terraform.rc

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/

# SSH keys (IMPORTANT)
*.pem

# Node (if any repo later uses it)
node_modules/

# Python (if used later)
__pycache__/
*.pyc
.identifier
.Identifier


# Docker
*.tar